<h2>Your Records!</h2>

<a href="/records/new">Add a New Record</a>
<br>
<br>
<table>
    <th>
        <h4>Record</h4>
    </th>
    <th>
        <h4>Artist</h4>
    </th>
    <th>
    </th>
    <% @records.each do |record| %>
        <tr>
            <td>
                <a href="/records/<%= record['id'] %>"><%= record['title'] %></a>
            </td>
            <td>
                <%= record['artist']%>
            </td>
            <td>
                <form action="/records/<%= record['id'] %>" method='post'>
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="DELETE">
                </form>
            </td>
        </tr>
    <% end %>
</table>