<h2>Record Details</h2>

<h3>Title</h3>
<p><%= @record[0]['title'] %></p>

<h3>Artist</h3>
<p><%= @record[0]['artist'] %></p>

<a href="/records">HOME</a>
<a href="/records/<%= @record[0]['id'] %>/edit">EDIT RECORD</a>
