<h2>Record Details</h2>

<h3>Title</h3>
<p><%= @record.title %></p>

<h3>Artist</h3>
<p><%= @record.artist %></p>

<a href="/records">HOME</a>
<a href="/records/<%= @record.id %>/edit">EDIT RECORD</a>
